@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Загрузить" />
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
